$black: #272928;
$gold: #A29060;
$white: #F4F4F4;
$gray1: #EFEFEF;
$gray2: #EAEAEA;
$gray3: #E2E2E2;
$gray4: #D8D8D8;
$gray5: #CECECE;

.black{
  background-color: $black;
}

.white{
  background-color: $white;
}

.gray1{
  background-color: $gray1;
}

.gray2{
  background-color: $gray2;
}

.gray3{
  background-color: $gray3;
}

.gray4{
  background-color: $gray4;
}

.gray5{
  background-color: $gray5;
}
