[class*='col-'] {
  float: left;
}

.col-1-5{
  width: 20%;
}

.col-1-25-5{
  width: 25%;
}

.col-1-6-5{
  width: 32%;
}

.col-3-5-5{
  width:75%;
}

.col-4-5{
  width:80%;
}

.col-5-5{
  width: 100%;
}

.header{
  height:10%;
}

.box{
  height:20%;
}

.content-con{
  height:80%;
}

.button-container{
  height:20%;
  overflow:none;

}

.button-box{
  height:100%;
  width:100%;
  bottom: 0;
  right:0;
}

.answer-button-box{
  height:100%;
  width:32%;
  bottom: 0;
}

.footer{
  height:10%;
}

#content{
  height: 80%;
  padding: 2% 5%;
}

hr{
  border-color: $gold;
  margin: 0;
  padding: 0;
}

.f-right{
  float:right;
}

.f-left{
  float:left;
}

// input{
//   background-color: $black;
//   color: $gold;
//   border: none;
//   margin: 20% auto;
//   text-align: center;
//   font-size: 2.5em;
//   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   font-weight: lighter;
//   // padding: 20% 0 0 0;
// }

button:focus{
  outline:none;
}

#next:hover{
  background-color: $white;
  cursor: pointer;
}

#up:hover{
  background-color: $white;
  cursor: pointer;
}

#down:hover{
  background-color: $white;
  cursor: pointer;
}

*:focus {
    outline: 0;
}

#next{
  background-color: $black;
  color: $gold;
  border: none;
  font-size: 2.5em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  width:100%;
  height: 100%;
}

#up{
  background-color: $black;
  color: $gold;
  border: none;
  font-size: 2.5em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  width:100%;
  height: 100%;
}

#down{
  background-color: $black;
  color: $gold;
  border: none;
  font-size: 2.5em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  width:100%;
  height: 100%;
}

.total{
  position: absolute;
  text-align: center;
  font-size: 3em;
  padding: 50px 0 40px 160px;
  z-index:2;
}

.completed{
  position: absolute;
  text-align: center;
  font-size: 3em;
  padding: 10px 0 50px 110px;

}

.total-txt{
  position: relative;
  font-size: 1.5em;
  text-align: center;
  margin: 40% 0 0 0;
}

.slash{
  position: absolute;
  font-size: 6em;
  text-align: center;
  padding: 0 0 0 45%;
}

.answered-txt{
  position: relative;
  font-size: 1.5em;
  text-align: center;
  margin: 0 0 0 0;
}

.percent{
  text-align: center;
  font-size: 4em;
  margin: 4% 0 0 0;
}

.completed-box{
  position: relative;
  height: 100px;
  width: 100%;
}

::selection {
  background: $gold; /* WebKit/Blink Browsers */
  color: $white;
  opacity:none;
}
::-moz-selection {
  background: $gold; /* Gecko Browsers */
  color: $white;
  opacity:none;
}
