[class*='col-'] {
  float: left;
}

.col-1-5{
  width: 20%;
}

.col-1-25-5{
  width: 25%;
}

.col-1-6-5{
  width: 32%;
}

.col-3-5-5{
  width:75%;
}

.col-4-5{
  width:80%;
}

.col-5-5{
  width: 100%;
}

.header{
  height:10%;
}

.box{
  height:20%;
}

.content-con{
  height:80%;
}

.button-container{
  height:20%;
}

.button-box{
  // position:absolute;
  height:20%;
  bottom: 0;
  right:0;
}

.answer-button-box{
  // position:absolute;
  height:20%;
  bottom: 0;
  // right:0;
}

.footer{
  height:10%;
}

#content{
  height: 80%;
  padding: 2% 5%;
}

hr{
  border-color: $gold;
  margin: 0;
  padding: 0;
}

.f-right{
  float:right;
}

.f-left{
  float:left;
}
// .prep-app{
//   width: 30%;
//   height:400px;
//   // margin: 10% auto;
//   border-radius: 10px;
//   padding: 2% 3% 3% 3%;
//   background-color: $gray5;
// }
