[class*='col-'] {
  float: left;
}

.col-1-5{
  width: 20%;
}

.col-1-25-5{
  width: 25%;
}

.col-1-6-5{
  width: 32%;
}

.col-3-5-5{
  width:75%;
}

.col-4-5{
  width:80%;
}

.col-5-5{
  width: 100%;
}

.header{
  height:10%;
}

.box{
  height:20%;
}

.content-con{
  height:80%;
}

.button-container{
  height:20%;
  overflow:none;

}

.button-box{
  height:100%;
  width:100%;
  bottom: 0;
  right:0;
}

.answer-button-box{
  height:100%;
  width:32%;
  bottom: 0;
}

.footer{
  height:10%;
}

#content{
  height: 80%;
  padding: 2% 5%;
}

hr{
  border-color: $gold;
  margin: 0;
  padding: 0;
}

.f-right{
  float:right;
}

.f-left{
  float:left;
}

// input{
//   background-color: $black;
//   color: $gold;
//   border: none;
//   margin: 20% auto;
//   text-align: center;
//   font-size: 2.5em;
//   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   font-weight: lighter;
//   // padding: 20% 0 0 0;
// }

button:focus{
  outline:none;
}

#next:hover{
  background-color: $white;
  cursor: pointer;
}

#up:hover{
  background-color: $white;
  cursor: pointer;
}

#down:hover{
  background-color: $white;
  cursor: pointer;
}

.active{
  background-color: $white;

}

*:focus {
    outline: 0;
}

#next{
  background-color: $black;
  color: $gold;
  border: none;
  font-size: 2.5em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  width:100%;
  height: 100%;
}

#up{
  background-color: $black;
  color: $gold;
  border: none;
  font-size: 2.5em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  width:100%;
  height: 100%;
}

#down{
  background-color: $black;
  color: $gold;
  border: none;
  font-size: 2.5em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  width:100%;
  height: 100%;
}
// .prep-app{
//   width: 30%;
//   height:400px;
//   // margin: 10% auto;
//   border-radius: 10px;
//   padding: 2% 3% 3% 3%;
//   background-color: $gray5;
// }
