html {
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  }

body {
  background-color: $black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  line-height: 1.45;
  color: $gold;
}

p {
  margin-bottom: 1.3em;
  font-weight: normal;
  font-size: 2em;
}

h1, h2, h3, h4 {
  // margin: 1.414em 0 0.5em;
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 5em;
  // font-size: 3.5em;

}

h2 {
  font-family: Helvetica;
  font-size: 2.827em;
  font-weight: lighter;
  padding: 2% 0 0 5%;
  }

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

h5 {
  font-size: 1em;
}
small, .font_small {font-size: 0.707em;}
